@font-face {
    font-family: 'Georgia Italic';
    src: url('../fonts/Georgia-Italic.ttf');
    src: url('../fonts/Georgia-Italic.woff');
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/Myriad Pro-Bold.otf');
    src: url('../fonts/Myriad Pro-Bold.woff');
}
@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.ttf');
    src: url('../fonts/Lato-Medium.woff');
}
@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato-Bold.ttf');
    src: url('../fonts/Lato-Bold.woff');
}
@font-face {
    font-family: 'Lato Heavy';
    src: url('../fonts/Lato-Heavy.ttf');
    src: url('../fonts/Lato-Heavy.woff');
}
@font-face {
    font-family: 'Montserrat Ultralight';
    src: url('../fonts/Montserrat-UltraLight.otf');
    src: url('../fonts/Montserrat-UltraLight.woff');
}
@font-face {
    font-family: 'Lato SemiBold';
    src: url('../fonts/Lato-Semibold.ttf');
    src: url('../fonts/Lato-Semibold.woff');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.ttf');
    src: url('../fonts/Lato-Regular.woff');
}
@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.ttf');
    src: url('../fonts/Lato-Light.woff');
}
@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato-Black.ttf');
    src: url('../fonts/Lato-Black.woff');
}
@font-face {
    font-family: 'Lato Thin';
    src: url('../fonts/Lato-Thin.ttf');
    src: url('../fonts/Lato-Thin.woff');
}

body{
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 1200px;
}
li{
    list-style: none;
}
/* HEDER */
header{
    background: url(../img/HeaderBG.png)  center  no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header_top{
    border-bottom: 1px solid #2e2e32;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    width: 54%;
}
.header_top ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}
.header_top li{
    list-style: none;
    padding: 40px 0px 40px 0px;
}
.header_top li a{
    padding: 40px 0px 40px 0px;
}

.header_top li a:hover{
    border-bottom: 1px solid #ffffff;
    position: relative;
}
.header_top a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Lato Medium";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    z-index: 9;   
}
h1{
    font-size: 72px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    z-index: 13;
    margin-top: 350px;
    margin-bottom: 0;
}
header p{
    font-size: 32px;
    font-family: "Georgia";
    color: rgb(255, 255, 255);
    font-style: italic;
    line-height: 1.469;
    text-align: center;
    z-index: 14;
    margin-bottom: 362px;
}
.member{
    display: flex;
    width: 100%;
}
.login-background{
    width: 50%;
    background: #21424a;
    display: flex;
    justify-content: flex-end;
}
.login{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #21424a;
    transform: skewx(-13deg) translateX(0px);
    cursor: pointer;
}
.register-background{
    width: 50%;
    background: #2fac6c;
}
.register{
    width: 98%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2fac6c;
    transform: skewx(-13deg) translateX(0px);
    cursor: pointer;
}
.register-background:hover,
.register:hover{
    background: #2cc576;
}
.login-background:hover,
.login:hover{
    background:#366b79;
}
.member a{
    text-decoration: none;
    font-size: 22px;
    font-family: "Lato Bold";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    z-index: 23;
}  
/* END HEDER */
/* DOMAIN */
.domain{
    width: 100%;
    display: flex;
    justify-content: center;
}
.domain-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.domain h2{
    font-size: 24px;
    font-family: "Lato Heavy";
    color: rgb(56, 55, 55);
    line-height: 1.2;
    margin: 90px 0 30px 0;     
}
.domain p{
    font-size: 16px;
    font-family: "Montserrat Ultralight";
    color: rgb(162, 162, 162);
    line-height: 1.2;
    z-index: 29;
    margin: 0 0 50px 0;
}
.buy-input{
    width:74%;
    height: 50px;
    display: flex;
    border: 1px solid #d9d9d9;
    align-items: center;
}
.buy-www{
    width: 10%;
    text-align: center;
}
.buy-www p{
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    line-height: 1.2;
    z-index: 31;
    margin: 0; 
}
.buy-input-block{
    display: flex;
    align-items: center;
    width: 80%;
    height: 32px;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
}
.buy-input-block form{
    width: 100%;
}
.buy-input-block input{
    width: 95%;
    padding: 10px;
    border: none;
    outline: none;
}
input[placeholder="What do you want?"]{
    font-size: 15px;
    font-family: "Lato SemiBold";
    color: rgb(134, 134, 134);
    line-height: 1.2;
    text-align: left;
}
.buy-domain{
    width: 10%;
    display: flex;
    justify-content: center;
}
.buy-domain p{
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    line-height: 1.2;
    z-index: 31;
    margin: 0;     
}
select{
    border: none;
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    text-align: left;
}
select option{
    border: none;
    font-size: 16px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    text-align: left;
}
table {
    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    width: 74%;
    height: 194px;
    margin:42px 0 92px 0;
    text-align: center;
}
td{
    width: 220px;
    height: 100px;
    border: 1px solid #d9d9d9;
    font-size: 14px;
    font-family: "Lato Regular";
    color: rgb(203, 203, 203);
    line-height: 1.2;
    z-index: 51;        
}
/* END DOMAIN */
/* PACKAGEDS */
.packageds{
    background: url(../img/PackagesPhotoBG.png) top center no-repeat;
    display: flex;
    justify-content: center;
    background-size: 100% 50%;
    width: 100%;
}
.packageds-flex{
    display: flex;
    justify-content:space-between;
    border-bottom-style: dotted;
    border-bottom-color: #d6d6d6;
}
.package{
    width: 23%;
    background: #ffffff;
    text-align: center;
    margin: 100px 0 100px 0;
    box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.2);
}
.package img{
    margin: 36px 0 0 0;
}
.package h2{
    font-size: 16px;
    font-family: "Lato Bold";
    color: rgb(40, 40, 40);
    font-weight: bold;
    margin: 20px 0 20px 0;
}
.package ul{
    margin: 0 28px 24px 28px;
    padding: 24px 0 0 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.bassic{
    border-top: 5px solid #f9d423;
}
.bassic li{
    color:#f9d423;
}
.bassic p{
    border-bottom:3px solid #f9d423; 
}
.bassic li>span{
    color:#f9d423;
}
.normal{
    border-top: 5px solid #7f8c8d;
}
.normal p{
    border-bottom: 3px solid #7f8c8d;
}
.normal li>span {
    color:#7f8c8d;
}
.big{
    border-top: 5px solid #f85f40;
}
.big p{
    border-bottom: 3px solid #f85f40;
}
.big li>span{
    color: #f85f40;
}
.biggest {
    border-top: 5px solid #1abc9c;
}
.biggest p{
    border-bottom: 3px solid #1abc9c;
}
.biggest li>span{
    color: #1abc9c;
}
.package li{
    font-size: 16px;
    font-family: "Lato Light";
    color: #b9b9b9;
    line-height: 1.2;
    text-align: left;
    z-index: 75;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;    
}
.select-plan{
    margin: 33px 0 33px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select-plan p{
    color:#9c9c9c;
    font-size: 17px;
    font-family: "Lato Bold";
    padding-bottom: 9px;
    width: 40%;
    margin: 0;
}
.select-plan p>sup{
    color: #000;
}
.select-plan p>span{
    font-size: 22px;
    font-family: "Lato Bold";
    color: rgb(44, 44, 44);
    line-height: 1.2;
    text-align: left;
    z-index: 141;
}
.select-plan h3>a{
    font-size: 16px;
    font-family: "Lato Bold";
    color: rgb(40, 40, 40);
    font-weight: bold;
    line-height: 1.2;
    z-index: 100;
    padding-top: 20px;
    text-align: center;
    margin: 0;
    text-decoration: none;
}
.bassic h3>a:hover{
    color: #f9d423;
}
.normal h3>a:hover{
    color: #7f8c8d;
}
.big h3>a:hover{
    color: #f85f40;
}
.biggest h3>a:hover{
    color: #1abc9c;
}
/* END PACKAGEDS */
/* ABOUT US */
.about-us{
    display: flex;
    justify-content: center;
    width: 100%;
}
.about-us-flex{
    display: flex;
}
.about{
    width: 43.6%;
    margin-top: 108px;
    padding-right: 30px;
}
.about-us h3{
    font-size: 35px;
    font-family: "Lato Black";
    color: rgb(48, 48, 48);
    line-height: 1.2;
    text-align: left;
    z-index: 153;
    margin-top: 0;
}
.about p{
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(116, 116, 116);
    line-height: 1.5;
    text-align: left;
    z-index: 154;
    margin: 0;
    padding: 0;
    width: 85%;
}
.our-team{
    border-left-style: dotted;
    border-color: #d6d6d6;
    width: 55%;
    margin: 110px 0 110px 0;
    display: flex;
    justify-content: flex-end;
}
.team{
    margin-left: 100px;
    text-align: center;
    width: 30%;
}
.team img{
    width: 100%;
}
.team h2{
    font-size: 17px;
    font-family: "Lato SemiBold";
    color: rgb(48, 48, 48);
    line-height: 1.2;
    text-align: center;
    z-index: 172;
    margin-bottom: 0;   
}
.team p{
    font-size: 15px;
    font-family: "Lato regular";
    color: rgb(142, 142, 142);
    text-align: center;
    margin: 5px 0 10px 0;
}
.network{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.network i{
    color: #bfbfbf;
}
.network i:hover{
    color: #1f89ba;
}
/* END ABOUT US */
/* COMMENTS */
.comments-block{
    background: url(../img/CommentsBGPhoto.png) center no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
}
.clientfeedbacks{
    display: flex;
}
.comments{
    display: block;
    margin: 0 auto;
    width: 78%;
}
.comments h2{
    font-size: 20px;
    font-family: "Lato Light";
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
    line-height: 30px;
}
.clientname{
    width: 23%;
    display: block;
    margin: 0 auto;
}
.comments p{
    font-size: 20px;
    font-family: "Lato Bold";
    color: rgb(255, 255, 255);
    text-align: left;
    border-right: 1px solid #969696;
    margin-right: 70px;
    margin-bottom: 50px;
}
/* Блок с точками */
.owl-pagination {
    text-align: right; /* Выравниваем точки по-середине */
    position: absolute;
    margin-top: -78px;
    margin-left: 640px;
}
/* 1 Точка */
.owl-page {
	width: 8px;
	height: 8px;
	border: 1px solid #f4f4f4 ;
	display: inline-block;
    background-color: transparent;
	margin: 12px;
    border-radius: 50%;
}
/* Активная точка */
.owl-page.active {
	background-color: #f4f4f4;
}

/* END COMMENTS */
/* FUNCTIONS */
.functions{
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-fuctions{
    display: flex;
    justify-content: space-between;
}
.features{
    margin:100px 0 100px 0;
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon:hover{
    box-shadow: 2px 3px 3px 1px rgba(0, 0, 0,0.2); 
}
.fast-servers{
    background-color: #f1c40f;
}
.could-servers{
    background-color: #0faff1; 
}
.domain-transfer{
    background-color: #95a5a6; 
}
.live-support{
    background-color: #f1540f;
}
.features h2{
    font-size: 18px;
    font-family: "Lato Heavy";
    color: rgb(48, 48, 48);
    line-height: 1.2;
    text-align: center;
    margin: 18px 0 18px 0;    
}
.features p{
    font-size: 16px;
    font-family: "Lato Light";
    color: rgb(126, 126, 126);
    line-height: 1.375;
    text-align: center;
    margin: 0;    
}
/* END FUNCTIOS */
/* FOOTER */
footer{
    width: 100%;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
}
.footer-top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0 33px 0;
    border-bottom:1px solid #4a4a4a;
}
.footer-top-menu nav{
    width: 36%;
}
.footer-top-menu ul{
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}
.footer-top-menu li{
    list-style: none;
}
.footer-top-menu a{
    text-decoration: none;
    font-size: 13px;
    font-family: "Lato Medium";
    color: rgb(104, 104, 104);
    line-height: 1.2;   
}
.footer-top-menu a:hover{
    color: #e3e3e3;
}
.footer-block{
    width: 100%;
    display: flex;
    margin: 34px 0 34px 0;
}
.footer-block-text{
    width: 31%;
    display: flex;
    align-items: center;
    margin: 0;
}
.footer-block-text p{
    font-size: 15px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    line-height: 1.733;
    text-align: left;
    border-right: 1px solid #4a4a4a;
    padding: 27px 70px 0 0;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.footer-block-text span{
    padding: 27px 0 27px 0;
}
.by{
    font-weight: bold;
    color: #686868;
}
.footer-block-map{
    width: 42%;
}
.footer-block-map ul{
    border-right: 1px solid #4a4a4a;
    padding: 27px 0 7px 108px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.footer-block-map li{
    list-style: none;
    padding-bottom: 20px;
    width: 42%;
}
.footer-block-map a>span{
    padding-right: 9px;
}
.footer-block-map a{
    text-decoration: none;
    font-size: 15px;
    font-family: "Lato Light";
    color: rgb(104, 104, 104);
    z-index: 237;
}
.footer-block-map a:hover{
    color:#e3e3e3;
}
.footer-block-contact{
    display: flex;
    flex-direction: column;
    padding: 27px 0 27px 83px;
    width: ;
}
.footer-block-contact a{
    font-size: 15px;
    font-family: "Lato";
    color: rgb(104, 104, 104);
    line-height: 1.936;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-block-contact img{
    margin-right: 14px;
}
.footer-block-contact p{
    margin: 0;
}
/* END FOOTER */ 
/* @ medea*/
@media screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    nav{
        display: none;
    }
    .logo {
        padding: 20px; 
    }
    h1{
        margin-top: 300px;
    }
   .register{
       width: 90%;
   }
   .domain p{
       text-align: center;
   }
   .buy-www {
       width: 13%;
   }
   .buy-input{
       width: 90%;
   }
   .buy-input-block{
       width: 70%
   }
   .buy-input-block form{
       width: 90%;
   }
   .buy-domain {
       width: 15%;
   }
   td{
       font-size: 12px;
   }
   /* PACKAGEDS */
   .packageds-flex{
       flex-wrap: wrap;
       justify-content: space-around;
   }
   .package{
       width: 45%;
   }
   .package li{
       margin:0;
   }
   .package ul{
       padding: 24px 0 24px 0;
   }
   .about-us-flex{
       flex-direction: column;
   }
   .about{
       width: 100%;
       margin-left: 15px;
   }
   .our-team {
    border-left-style: none;  
    margin: 110px 0 110px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
   }
   .team{
       width: 30%;
       margin: 0 auto;
       margin-bottom: 20px;
   }

}